# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
backend/venv/
.pytest_cache/
*.db

.venv/
.antigravity/
frontendv2/node_modules/
frontendv2/.next/
frontendv2/.vercel/
frontendv2/.compare/

# Node / Frontend
node_modules/
dist/
.DS_Store
REFINAGE/
